<!DOCTYPE html>
<html>
  <head>
    <title> Birds iView Docs </title>
     <link href="../static/stylesheet.css" type="text/css" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>

  <body>
<div class = "container-fluid" >
  <div class= "row">
    <nav>
      <ui>
        <li class= title > BIRD'S iVIEW </li>
        <li class= logo> <img src= "../static/other-images/logo.png"> </img> </li>
        <li> <a class = "myButton" href= "index.html"> HOME </a> </li>
        <li> <a class = "myButton" href= "team.html"> TEAM </a> </li>
        <li> <a class = "myButton" href= "project.html"> PROJECT </a> </li>
        <li> <a class = "myButton" href= "tech.html"> TECHNOLOGIES </a> </li>
        <li> <a class = "myButton" href= "schedule.html"> SCHEDULE </a> </li>
        <li> <a class = "active" href= "doc.html"> DELIVERABLES </a> </li>
        <li> <a class = "myButton" href= "demo.html"> DEMO </a> </li>
      </ui>
    </nav>


      <div class = body>
        <h3> DOCUMENTS  </h3> <br>
          <div class = "row">
            <div class = "col-md-4">
            </div>
            <div class = "col-md-4">
                 <h4> Team Inventory </h4>
                 <a href ="../static/documents/teamInv.pdf"> Team Inventory </a>
                 <h4> Team Standards </h4>
                 <a href ="../static/documents/teamStandards.pdf" > Team Standards </a>
                 <h4> Design Review Video </h4>
                 <a href ="https://www.youtube.com/watch?v=U9pkeiZ3oHE&feature=youtu.be" > Design Review </a>
                 <h4> Design Review 2 Video </h4>
                 <a href ="https://youtu.be/VczncFxOh9Y" > Design Review 2</a>

             </div>
             <div class = "col-md-4">  </div>
          </div>
      </div>

      <div class= info id=doc-info>
      </div>

 </div>
</div>

    <footer class = "footer"> </footer>
  </body>

</html>
