<!DOCTYPE html>
<html>
  <head>
     <link href="../static/stylesheet.css" type="text/css" rel="stylesheet">
     <script src= "script.js"> </script>

      <title> Birds iView Home </title>

     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../static/bootstrap.min.css">
  </head>

<body>
<div class = "container-fluid" >
<div class= "row">
    <nav>
      <ui>
        <li class= title > BIRD'S iVIEW </li>
        <li class= logo> <img src= "../static/other-images/logo.png"> </img> </li>
        <li> <a class = "active" href= "index.html"> HOME </a> </li>
        <li> <a class = "myButton" href= "team.html"> TEAM </a> </li>
        <li> <a class = "myButton" href= "project.html"> PROJECT </a> </li>
        <li> <a class = "myButton" href= "tech.html"> TECHNOLOGIES </a> </li>
        <li> <a class = "myButton" href= "schedule.html"> SCHEDULE </a> </li>
        <li> <a class = "myButton" href= "doc.html"> DELIVERABLES </a> </li>
        <li> <a class = "myButton" href= "demo.html"> DEMO </a> </li>
      </ui>
    </nav>


      <div class = body>

       <div class = "col-md-6">
          <div class = "homeTitle">
               <img class= "logo" src= "../static/other-images/logo2.png"> </img>
               <h1 class = "homeHead"> TEAM BIRDS IVIEW </h1>
               <h4 class = "homeHead2"> Computer Vision Indentification <br>
                for Smart Bird Feeders </h4>
          </div>

       </div>


          <div class= "col-md-6">
            <div class = "paragraphs" >
              Over 50 million people spend approximately 40 billion
              dollars on gear and traveling to participate in bird watching, every year.
              David Plemmons, bird enthusiast and entrepreneur, has been working over the
              last 3 years to bring the bird-enthusiast community even
              closer together by creating a bird feeder with an
              integrated camera that allows you to view birds from a live stream video.
              <br><br>
              David's plan is to educate people on the importance
              of bird-watching and bird indentification. From a scientific perspective,
              the identification of individual birds would present avian researchers
              with a completely new dimension of data. This would allow researchers
              to better study trends within different bird populations. <br><br>

              Team Bird's iView is going to expand David's idea and create an
              AI model that will be able to identify specific species
              of birds from the images captured by the pEEp bird
              feeder. Additionally, we will be creating an easy way to share
              user findings which will allow users to connect with other
              members of the bird community.

            </div>

          </div>
      </div>



      <div class= home id= "video">
        <div class = "row">
           <div class = "col-md-6">
             <div class = "videoHead">
              <iframe class = "video" width="600" height="350"
              src="https://www.youtube.com/embed/Q3eTaUtLzqY"
              frameborder="0" allow="accelerometer; autoplay;
              clipboard-write; encrypted-media;
              gyroscope; picture-in-picture"
              allowfullscreen></iframe>
        
            </div>

           <div class = "col-md-6 "> </div>
         </div>
       </div>

     </div>




 </div>
</div>

<footer class= "footer">  </footer>
</body>


</html>
